.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 22em;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.fill-space {
  flex: 1 0 auto;
}

.logo {
  margin-top: 6em;
  margin-left: 1em;
}

.mat-nav-list {
  margin-top: 6em;
}