<div fxLayout="column" fxLayoutGap="2%">
  <!-- <app-add-meeting (newMeeting)="addNewMeeting($event)"></app-add-meeting> -->
  <mat-card>
    <mat-form-field>
      <input matInput (keyup)='filterMeeting$.next($event.target.value)' placeholder="Zoek op naam" type="text"> 
    </mat-form-field>
  </mat-card>

  <div *ngIf="(meetings$ | async) as meetings; else loadingOrError">
    <div 
      fxLayout="row wrap"
      fxLayout.xs="column"
      fxLayoutAlign="center"
    >
      <div 
        class="meeting"
        *ngFor="let localMeeting of (meetings$ | async | meetingFilter: filterMeetingName)"
        fxFlex="0 0 calc(60%)"
        fxFlex.xs="100%"
      >
        <app-meeting [meeting]="localMeeting"></app-meeting>
      </div>
    </div>
  </div>
</div>

<ng-template #loadingOrError>
  <mat-card class="error" *ngIf="errorMessage; else loading">
      Error loading the recipe list: {{ errorMessage }}. <br/>
      Please try again later.
  </mat-card>
</ng-template>

<ng-template #loading>
  <mat-spinner></mat-spinner>
</ng-template>
  