@import '~@angular/material/prebuilt-themes/indigo-pink.css';      

.error {
    background-color: #feebeb;
    color: #c61e24;
  }
  
.confirmation {
    background-color: #ebfeeb;
    color: #1ec624;
  }