mat-card {
    width: 30%; 
    margin: 2em auto;
    text-align: center;
}
  
mat-form-field {
    display: block;
}

mat-card-title{
    margin-left: -1em;
}

.error{
    width: 90%;    
    margin: auto auto;
}