<mat-card>
    <mat-card-title>Een nieuwe afspraak plannen<hr></mat-card-title>
    <mat-card-content>
        <form [formGroup]="meeting" (ngSubmit)="onSubmit()">
          <span class="span">Naam en datum: </span><br>
            <mat-form-field>
                <input matInput aria-label="name" placeholder="Naam"
                    type="text" formControlName="name"/>
                <mat-error *ngIf="meeting.get('name')['errors'] && meeting.get('name').touched">
                    {{ getErrorMessage(meeting.get('name')['errors']) }}
                </mat-error>
            </mat-form-field>
            
            <mat-form-field>
              <input matInput aria-label="date" [matDatepicker]="date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="date"></mat-datepicker-toggle>
              <mat-datepicker #date></mat-datepicker>

              <mat-error *ngIf="meeting.get('date')['errors'] && meeting.get('date').touched">
                {{ getErrorMessage(meeting.get('date')['errors']) }}
              </mat-error>
            </mat-form-field>

            <br><span class="span">Vertegenwoordiger(s): </span><br>
            <div formArrayName="verkopers" *ngFor="let item of meeting.get('verkopers')['controls']; let i = index">
                <div [formGroupName]="i">
                  <mat-form-field>
                    <mat-select aria-label="verkoper name" placeholder="Naam" formControlName="name">
                      <mat-option *ngFor="let name of names" [value]="name">
                        {{ name }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                    <input matInput type="text" aria-label="verkoper title"
                      placeholder="Functie" formControlName="title"/>
                  </mat-form-field>
                </div>
                <mat-error *ngIf="item.errors && item.get('name').touched">
                    {{ getErrorMessage(item.errors) }}
                </mat-error>
            </div>

            <button mat-raised-button type="submit" [disabled]='!meeting.valid'>add</button>
        </form>
    </mat-card-content>
</mat-card>
<mat-card class="error" *ngIf="errorMessage" data-cy="appError">
  got an error while adding the meeting: {{errorMessage}}
</mat-card>
<mat-card
  class="confirmation"
  *ngIf="confirmationMessage"
  data-cy="appConfirmation"
>
  {{ confirmationMessage }}
</mat-card>