<mat-card>
    <mat-card-header>
        <mat-card-title>Welkom bij Winddicht, {{meeting.name}}!<hr></mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <br>
        <h2>U wordt verwacht door</h2>
        <mat-list>
            <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="center">
                <mat-list-item *ngFor="let verkoper of meeting.verkopers">
                    <app-verkoper [verkoper]="verkoper"></app-verkoper>
                </mat-list-item>
            </div>
        </mat-list>
    </mat-card-content>
</mat-card>

